data/attack_vector_files/nvdcve-1.0-2004.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2011.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2013.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2014.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-modified.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2002.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2006.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2007.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2009.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2010.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2015.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2016.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2017.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2005.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2018.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2008.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2012.json filter=lfs diff=lfs merge=lfs -text
data/attack_vector_files/nvdcve-1.0-2003.json filter=lfs diff=lfs merge=lfs -text
